.sort {
  margin: 50px 0 50px 100px;
}
.sort {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
}

.sort label {
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 25px;
}

.sort .selector {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #901c1c;
  color: white;
  width: 170px;
  font-size: 18px;
  position: absolute;
  top: -20px;
  left: 100px;
  border: none;
}
.sort .selector:focus {
  outline: 2px solid black;
}
.selector::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 25px;
  top: 25px;
  border-top: 2px solid white ;
  border-left: 2px solid white ;
  transform: translateY(50%) rotate(0.125turn) ;
  transition: all 0.3s ease-in-out;
}
.selector.open::before{
  transform: translateY(30%) rotate(0.625turn);

}

.sort .selector span {
  line-height: 60px;
  height: 60px;
  width: 100%;
  position: relative;
  cursor: pointer;
  padding-left: 20px;
  text-align: left;
}
.sort .selector span::before {
  display: block;
  content: "";
  position: absolute;
  width: 80%;
  top: 0px;
  height: 2px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
}
.sort .selector span.selected {

  height: 60px;
}
.sort .selector span.selected::before {
  display: none;
}
.sort .selector span.hide {
  display: none;
}
.sort .selector.open span.hide {
  display: block;
}
